/*
--------------------------------------------------
resets
--------------------------------------------------
*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0;
  padding: 0;
}
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
  margin: 0;
  padding: 0;
}
pre,
code,
address,
caption,
th,
figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
fieldset,
iframe,
img {
  border: 0;
}
caption,
th {
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
main,
section,
summary,
details,
hgroup,
figure,
figcaption {
  display: block;
}
audio,
canvas,
video,
progress {
  display: inline-block;
  vertical-align: baseline;
}
button {
  background: none;
  border: 0;
  outline: none;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}
button:disabled {
  cursor: default;
}
:focus[data-focus-method='mouse']:not(input):not(textarea):not(select),
:focus[data-focus-method='touch']:not(input):not(textarea):not(select) {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*
--------------------------------------------------
keyframes
--------------------------------------------------
*/
@keyframes         fade-in { from { opacity: 0 } to { opacity: 1 } }
@-o-keyframes      fade-in { from { opacity: 0 } to { opacity: 1 } }
@-ms-keyframes     fade-in { from { opacity: 0 } to { opacity: 1 } }
@-moz-keyframes    fade-in { from { opacity: 0 } to { opacity: 1 } }
@-webkit-keyframes fade-in { from { opacity: 0 } to { opacity: 1 } }
/*
--------------------------------------------------
core
--------------------------------------------------
*/
body {
  -webkit-animation: fade-in 1s;
  -moz-animation: fade-in 1s;
  -ms-animation: fade-in 1s;
  -o-animation: fade-in 1s;
  animation: fade-in 1s;
  background: #111;
  font-family: 'Be Vietnam Pro', sans-serif;
}
html {
  //height: 100vh;
  height: 664px;
}
/*
--------------------------------------------------
presets
--------------------------------------------------
*/
.light-weight   { font-weight: 100 }
.regular-weight { font-weight: 300 }
.medium-weight  { font-weight: 400 }
.heavy-weight   { font-weight: 600 }
/*
--------------------------------------------------
layout
--------------------------------------------------
*/
.symbol {
  margin-bottom: 30px;
}
.layout {
  min-height: calc(95vh - 110px);
  display: flex;
  flex-flow: column;
}
.ios.safari .layout,
.ios.chrome .layout {
  min-height: calc(80vh - 110px);
}
.container {
  width: 100vw;
  max-width: 90vw;
  margin: 0 auto;
}
header, main, nav {
  display: flex;
  justify-content: center;
}
header {
  padding-top: 30px;
  /* border: 1px solid red; */
  text-align: center;
}
main {
  flex: 1;
  align-items: center;
  /* border: 1px solid white; */
  color: #fff;
}
nav {
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 80px;
  position: fixed;
  /* border: 1px solid blue; */
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  justify-content: space-between;
}
nav a {
  margin: 0 20px;
  padding: 30px 0;
  transition: all .3s ease;
  display: inline-block;
  border-bottom: 2px solid transparent;
  font-weight: 300;
  color: #efefef;
}
nav a:hover {
  border-bottom-color: #fff;
  color: #fff;
}
.welcome {
  text-align: center;
}
.welcome h1 {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6em;
}
.collection .item {
  margin-bottom: 30px;
  text-align: center;
  background: #222;
}
.collection .item .options {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collection .item .options a {
  margin: 15px 0;
  position: relative;
  display: inline-block;
  transition: all .3s ease;
  color: #fff;
}
.collection .item .options a:hover {
  color: #999;
}
.collection .item .options a:active {
  top: 1.5px;
}
.collection .item .name {
  padding: 20px;
  background: #fff;
  color: #000;
}
/*
--------------------------------------------------
media
--------------------------------------------------
*/
@media (min-width: 768px){
  .collection .group {
    display: flex;
    justify-content: space-between;
  }
  .collection .group .item {
    flex-basis: 22.5%;
  }
}
@media (min-width: 415px) and (max-width: 767px) {
  .collection .group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .collection .group .item {
    flex-basis: 45%;
  }
}
@media (max-width: 414px) {
  .collection .group {
  }
  .collection .group .item {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}
